<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>list products</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.12.1/datatables.min.css"/>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
          integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

</head>
<body>
<div class="container">
    <section>
        <div th:replace="header :: header"></div>
        <hr/>
        <h2>Agents List</h2>
        <hr/>
        <table class="table table-bordered table-stiped" id="product-table">
            <thead>
            <tr>
                <th>Name</th>
                <th>Role</th>
                <th>EMail</th>
                <th>Mobile Number</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="agent:${agents}">
                <td th:text="${agent.name}"></td>
                <td th:text="${agent.role.roleName}"></td>
                <td th:text="${agent.email}"></td>
                <td th:text="${agent.mobileNumber}"></td>
                <td th:text="${agent.status.status}"></td>
                <td >
                    <a  th:href="@{/updateAgentForm(agentId=${agent.id})}"class="btn btn-info">Update</a>
                    <a th:href="@{/deleteAgent(agentId=${agent.id})}" class="btn btn-danger ml-2 ">Delete</a>
                </td>
            </tr>
            </tbody>
        </table>
        <hr/>
    </section>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.12.1/datatables.min.js"></script>
<script>
    $(document).ready(function (){
        $("#product-table").DataTable(
            {'aoColumnDefs':[{'bSortable': false,'aTargets':[-1]}]}
        );
    })
</script>




</body>
</html>