<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Logis Bootstrap Template - Services</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="assets/img/favicon.png" rel="icon">
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
          rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
    <link href="assets/vendor/aos/aos.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="assets/css/main.css" rel="stylesheet">

    <!-- Custom styles for this page -->
    <link href="vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">

    <!-- =======================================================
    * Template Name: Logis - v1.1.0
    * Template URL: https://bootstrapmade.com/logis-bootstrap-logistics-website-template/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
</head>

<body>

<!-- ======= Header ======= -->
<!-- End Header -->
<div th:replace="header :: header"></div>
<!-- End Header -->

<main id="page-top">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs">
        <div class="page-header d-flex align-items-center"
             style="background-image: url('assets/img/page-header.jpg');">
            <div class="container position-relative">
                <div class="row d-flex justify-content-center">
                    <div class="col-lg-6 text-center">
                        <h2>Products</h2>
                        <p>Add , Update and Delete Products from your Inventory.</p>
                    </div>
                </div>
            </div>
        </div>
        <nav>
            <div class="container">
                <ol>
                    <li><a th:href="@{/showProducts}">Bills</a></li>
                    <li>New Bill</li>
                    <li>Add Product</li>
                </ol>
            </div>
        </nav>
    </div><!-- End Breadcrumbs -->




    <section id="contact" class="contact">
        <div class="container" data-aos="fade-up">


            <div class="col-lg-8 ">
                <div style="display: flex;">
                    <h4>How much do you need ?</h4><br>
                    <div style="text-align: center">
                        <ul>
                            <p class="alert alert-danger"  th:each="error :${#fields.errors('product.*')}" th:text="
                ${error}"/>
                        </ul>
                    </div>
                </div>

                                <form th:action="@{/splitProduct}" th:object="${product}" method="POST"role="form"
                                      style="width: 100%;background: #fff;">

                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label">Reference</label>
                                        <div class="col-md-6 form-group">
                                            <input type="text" th:field="*{reference}" th:value="*{reference}"
                                                   class="form-control col-4 mb-4" readonly>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label">Name</label>
                                        <div class="col-md-6 form-group">
                                            <input type="text" th:field="*{name}" th:value="*{name}"
                                                   class="form-control col-4 mb-4" readonly>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label">Categorie</label>
                                        <div class="col-md-6 form-group">
                                            <input type="text" th:field="*{categories}" th:value="*{categories}"
                                                   class="form-control col-4 mb-4" readonly>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label">Price</label>
                                        <div class="col-md-6 form-group">
                                            <input type="text" th:field="*{price}" th:value="*{price}"
                                                   class="form-control col-4 mb-4" readonly>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label">Quantity Available</label>
                                        <div class="col-md-6 form-group">
                                            <p type="text" th:text="*{quantity}" class="form-control col-4 mb-4">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Wanted Quantity</label>
                                    <div class="col-md-6 form-group">
                                        <input type="text" th:field="*{quantity}" placeholder="Enter quantity"
                                               class="form-control col-4 mb-4">
                                    </div></div>
                                    <input type="hidden" th:field="*{id}">
                                    <div style="display: flex;gap: 450px;">
                                    <a class="btn btn-secondary ml-2" th:href="@{/addProductToBillForm}">Back</a>
                                    <button class="btn btn-primary ml-2" type="submit">Reserver</button>
                                    </div>
                                </form>
            </div></div></div></div></section>
</main><!-- End #main -->

<!-- ======= Footer ======= -->
<!-- End Footer -->
<div th:replace="footer :: footer"></div>
<!-- End Footer -->

<a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<div id="preloader"></div>

<!-- Vendor JS Files -->
<script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="assets/vendor/purecounter/purecounter_vanilla.js"></script>
<script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
<script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
<script src="assets/vendor/aos/aos.js"></script>
<script src="assets/vendor/php-email-form/validate.js"></script>

<!-- Template Main JS File -->
<script src="assets/js/main.js"></script>

</body>

</html>