<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>GStock - Agents</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="Images/LogoGStock.png" rel="icon">
    <link href="static/Images/LogoGStock.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
          rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
    <link href="assets/vendor/aos/aos.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="assets/css/main.css" rel="stylesheet">

    <!-- Custom styles for this page -->
    <link href="vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">

    <!-- =======================================================
    * Template Name: Logis - v1.1.0
    * Template URL: https://bootstrapmade.com/logis-bootstrap-logistics-website-template/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
</head>

<body>

<!-- ======= Header ======= -->
<!-- End Header -->
<div th:replace="header :: header"></div>
<!-- End Header -->

<main id="page-top">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs">
        <div class="page-header d-flex align-items-center"
             style="background-image: url('assets/img/page-header.jpg');">
            <div class="container position-relative">
                <div class="row d-flex justify-content-center">
                    <div class="col-lg-6 text-center">
                        <h2>Agents</h2>
                        <p>Manage Your Employees</p>
                    </div>
                </div>
            </div>
        </div>
        <nav>
            <div class="container">
                <ol>
                    <li><a th:href="@{/agentsList}">Agents</a></li>
                    <li>Agents List</li>
                    <li>Update</li>
                </ol>
            </div>
        </nav>
    </div><!-- End Breadcrumbs -->

    <section id="contact" class="contact" >
        <div class="container" data-aos="fade-up" >
            <div class="row" >
                <div class="col-lg-5 d-none d-lg-block ">
                    <img th:src="|data:image/png;base64,${agent.image}|"
                         onerror="this.onerror=null;this.src='https://assets.zeezest.com/users/PROD_Generic%20Photo_1640418549546.jpg'"
                         style="background-position: center;height:350PX;width:100%;background-size: cover">
                </div>
                <div class="col-lg-7">
                    <form th:action="@{/updateAgent}" th:object="${agent}" method="post" role="form"
                          style="width: 100%;background: #fff;">
                        <div class="row">
                            <h4 class="col-sm-2 col-form-label ">Name</h4>
                            <div class="col-md-6 form-group">
                                <input type="text" name="name" th:field="*{name}" class="form-control col-4 mb-4"
                                       placeholder="Product reference" >
                                <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}"
                                     class="alert alert-danger "></div>
                            </div>
                        </div>
                        <div class="row">
                            <h4 class="col-sm-2 col-form-label ">Email</h4>
                            <div class="col-md-6 form-group">
                                <input type="text" name="name" th:field="*{email}" class="form-control col-4 mb-4"
                                       placeholder="Product Name" readonly>
                                <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
                                     class="alert alert-danger  "></div>
                            </div>

                        </div>
                        <div class="row">
                            <h4 class="col-sm-2 col-form-label ">Mobile Number</h4>
                            <div class="col-md-6 form-group">
                                <input type="text" name="name" th:field="*{mobileNumber}"
                                       class="form-control col-4 mb-4"
                                       placeholder="Product Name" readonly>
                                <div th:if="${#fields.hasErrors('mobileNumber')}" th:errors="*{mobileNumber}"
                                     class="alert alert-danger  "></div>
                            </div>

                        </div>
                        <div class="row">
                            <h4 class="col-sm-2 col-form-label ">Role</h4>
                            <div class="col-md-6 form-group">
                                <select class="form-select col-4 mb-4" th:field="*{role}">
                                    <option th:each="role :${roles}" th:text="${role.roleName}"
                                            th:value="${role.roleId}"
                                            th:selected="${role.roleId}"></option>
                                </select>
                            </div>

                        </div>
                        <div class="row">
                            <h4 class="col-sm-2 col-form-label">Status</h4>
                            <div class="col-md-6 form-group">
                                <select class=" form-select col-4 mb-4" th:field="*{status}">
                                    <option th:each="status:${allStatus}" th:text="${status.status}"
                                            th:value="${status}"></option>
                                </select>
                            </div>

                        </div>
                        <input type="hidden" th:field="*{id}">
                        <input type="hidden" th:field="*{pwd}">
                        <div style="display: flex;gap: 350px;">
                            <a class="btn btn-secondary ml-2"
                               th:href="@{/confirmedAgentsList}">Back</a>
                            <div class="text-center">
                                <button class="btn btn-primary ml-2" type="submit">Save</button>
                            </div>
                        </div>
                    </form>
                </div><!-- End Contact Form -->
            </div>
        </div>

        </div>
    </section>

    </div>


</main><!-- End #main -->

<!-- ======= Footer ======= -->
<!-- End Footer -->
<div th:replace="footer :: footer"></div>
<!-- End Footer -->

<a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<div id="preloader"></div>

<!-- Vendor JS Files -->
<script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="assets/vendor/purecounter/purecounter_vanilla.js"></script>
<script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
<script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
<script src="assets/vendor/aos/aos.js"></script>
<script src="assets/vendor/php-email-form/validate.js"></script>

<!-- Template Main JS File -->
<script src="assets/js/main.js"></script>

</body>

</html>